@charset "UTF-8";
/*---  共通  ---*/
* {
  margin: 0;
  padding: 0;
}

body {
  color: #3D3E3C;
  font-family: "Kiwi Maru", serif;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3D3E3C;
  font-family: "Kiwi Maru", serif;
}

h2 {
  color: #3D3E3C;
}

.wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 20px;
  text-align: center;
}

.bk_color {
  background-color: #F0F3EA;
  margin-top: 200px;
  padding-block: 100px;
}

/*--  セクション、各ページのタイトル  --*/
.section_title {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.section_title::before, .section_title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section_title::before {
  left: -70px;
  background-image: url(../img/title_left.png);
}
@media screen and (max-width: 820px) {
  .section_title::before {
    left: -60px;
  }
}
.section_title::after {
  right: -70px;
  background-image: url(../img/title_right.png);
}
@media screen and (max-width: 820px) {
  .section_title::after {
    right: -60px;
  }
}
.section_title .en {
  font-family: "Aoboshi One", serif;
  font-size: 2.25rem;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px rgba(61, 62, 60, 0.5);
}
@media screen and (max-width: 820px) {
  .section_title .en {
    font-size: 1.75rem;
    letter-spacing: 3px;
  }
}
.section_title .jp {
  font-family: "Kiwi Maru", serif;
  font-size: 1.25rem;
}
@media screen and (max-width: 820px) {
  .section_title .jp {
    font-size: 0.75rem;
  }
}

/*-- 各ページのタイトル背景 --*/
.page_title {
  background-image: url(../img/concept_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 820px) {
  .page_title {
    height: 200px;
  }
}
.page_title .bg_white {
  width: 400px;
  background-color: #fff;
  border-radius: 50px;
  padding-block: 20px;
}
@media screen and (max-width: 820px) {
  .page_title .bg_white {
    width: 350px;
  }
}

/*-- 各ページのfooter --*/
.footer {
  background-color: #FDD09D;
  text-align: center;
  margin-top: 180px;
}

.access_conteiner {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-inline: auto;
  max-width: 600px;
}
@media screen and (max-width: 820px) {
  .access_conteiner {
    flex-direction: column;
  }
}
.access_conteiner .shop_info {
  width: 50%;
}
@media screen and (max-width: 820px) {
  .access_conteiner .shop_info {
    margin-inline: auto;
    width: auto;
  }
}
.access_conteiner .shop_info .shop_name {
  text-align: left;
  padding-left: 40px;
}
@media screen and (max-width: 820px) {
  .access_conteiner .shop_info .shop_name {
    padding-left: 0;
  }
}
.access_conteiner .shop_info li {
  margin: 10px 0 0 40px;
  text-align: left;
}
@media screen and (max-width: 820px) {
  .access_conteiner .shop_info li {
    margin: 10px 0 0 0;
  }
}
.access_conteiner .shop_info li p {
  font-size: 0.9rem;
}
.access_conteiner .shop_info li .right_side {
  padding-left: 50px;
}
.access_conteiner .shop_img {
  width: 50%;
}
@media screen and (max-width: 820px) {
  .access_conteiner .shop_img {
    display: none;
  }
}
.access_conteiner .shop_img img {
  width: 100%;
  vertical-align: bottom;
}

.copyright {
  padding-top: 50px;
  padding-bottom: 20px;
}
.copyright p {
  font-size: 0.8rem;
}

/*--  about  --*/
#about .top {
  margin-top: 180px;
  height: 530px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 820px) {
  #about .top {
    height: auto;
    position: static;
    flex-direction: column;
    margin-top: 150px;
  }
}
#about .under {
  margin-top: 100px;
  height: 530px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 820px) {
  #about .under {
    position: static;
    height: auto;
    flex-direction: column-reverse;
    margin-top: 70px;
  }
}
#about .left {
  width: 55%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 820px) {
  #about .left {
    position: static;
    width: 90%;
    margin-top: 30px;
  }
}
#about .right {
  width: 55%;
  position: absolute;
  top: 100px;
  right: 0;
}
@media screen and (max-width: 820px) {
  #about .right {
    flex-direction: column-reverse;
    position: static;
    width: 90%;
    margin-top: 30px;
  }
}
#about .text {
  background-color: #F0F3EA;
  text-align: center;
  padding-block: 50px;
  z-index: 5;
  filter: drop-shadow(4px 4px 4px rgba(134, 136, 130, 0.6));
  border-radius: 5px;
}
@media screen and (max-width: 820px) {
  #about .text p {
    font-size: 0.8rem;
  }
}
#about img {
  width: 100%;
  vertical-align: bottom;
}

/*--  products  --*/
.title {
  background-color: #F0F3EA;
  box-shadow: 0px 0px 20px 20px #F0F3EA;
  padding-block: 20px;
  text-align: center;
}
.title .jp {
  font-size: 1.75rem;
  font-family: "Kiwi Maru", serif;
}
@media screen and (max-width: 820px) {
  .title .jp {
    font-size: 1.5rem;
  }
}
.title .en {
  font-size: 1.25rem;
  font-family: "Birthstone Bounce", serif;
  font-weight: 400;
  font-style: normal;
}
@media screen and (max-width: 820px) {
  .title .en {
    font-size: 1rem;
  }
}

.conteiner {
  padding-top: 150px;
}

.item_list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 80px;
}
@media screen and (max-width: 820px) {
  .item_list {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 50px;
  }
}
.item_list li {
  width: 100%;
}
.item_list li img {
  width: 100%;
  vertical-align: bottom;
  margin-bottom: 30px;
}

#contact {
  margin-top: 180px;
  margin-inline: auto;
  max-width: 1000px;
  background-color: #F0F3EA;
  text-align: center;
  filter: drop-shadow(4px 4px 4px rgba(134, 136, 130, 0.6));
  border-radius: 5px;
  padding: 50px 80px;
  /*--  送信ボタン  --*/
}
@media screen and (max-width: 820px) {
  #contact {
    padding: 50px 50px;
  }
}
#contact h3 {
  margin-bottom: 100px;
  font-size: 1.25rem;
}
#contact dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
@media screen and (max-width: 820px) {
  #contact dl {
    flex-direction: column;
  }
}
#contact dl dt {
  width: 30%;
  text-align: left;
}
@media screen and (max-width: 820px) {
  #contact dl dt {
    width: 100%;
  }
}
#contact dl dd {
  width: 70%;
}
@media screen and (max-width: 820px) {
  #contact dl dd {
    width: 100%;
  }
}
#contact dl dd input,
#contact dl dd textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #3D3E3C;
  background-color: #fff;
}
#contact .sbmit_btn {
  display: inline-block;
  padding: 10px 25px;
  position: relative;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
#contact .sbmit_btn input {
  color: #fff;
}
#contact .sbmit_btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  right: 5px;
  background-color: #F04948;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}
#contact .sbmit_btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #3D3E3C;
  z-index: 3;
}
#contact .sbmit_btn:hover::before {
  transform: translate(6px, -4px);
}

/*--  ボタン  --*/
.btn {
  text-align: center;
}
.btn .btn_more {
  display: inline-block;
  padding: 10px 25px;
  position: relative;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
.btn .btn_more::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  right: 5px;
  background-color: #F04948;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}
.btn .btn_more::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #3D3E3C;
  z-index: 3;
}
.btn .btn_more:hover::before {
  transform: translate(6px, -4px);
}

/*---  メインビジュアル  ---*/
.mainvisual img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  vertical-align: bottom;
}

/*--- header ---*/
header {
  background-color: #FDD09D;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
header .header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .header h1 {
  margin: 0;
}

.navi {
  margin-left: auto;
  overflow-x: auto;
}
@media screen and (max-width: 820px) {
  .navi {
    opacity: 0;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 20;
    transition: 0.5s;
    margin: 80px 180px auto auto;
    height: auto;
  }
}
.navi .menu {
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  padding-bottom: 15px;
  gap: 50px;
}
@media screen and (max-width: 820px) {
  .navi .menu {
    flex-direction: column;
    height: auto;
  }
}

.mask {
  visibility: hidden;
  position: fixed;
  background-color: #FDD09D;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;
  transition: all 0.5s;
}

@media screen and (max-width: 820px) {
  .toggle_btn {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 30px;
    top: 40px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 30;
  }
  .toggle_btn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #3D3E3C;
    transition: all 0.5s;
    position: absolute;
    right: 0;
  }
  .toggle_btn span:nth-child(1) {
    top: 20%;
  }
  .toggle_btn span:nth-child(2) {
    top: 50%;
  }
  .toggle_btn span:nth-child(3) {
    top: 80%;
  }
}
@media screen and (max-width: 820px) {
  .open .toggle_btn span:nth-child(1) {
    transform: rotate(-45deg);
    top: 15px;
  }
  .open .toggle_btn span:nth-child(2) {
    transform: rotate(45deg);
    top: 15px;
  }
  .open .toggle_btn span:nth-child(3) {
    transform: rotate(45deg);
    top: 15px;
  }
  .open .navi {
    opacity: 1;
    right: 0;
  }
  .open .mask {
    visibility: visible;
    opacity: 0.9;
  }
}
/*---  information  ---*/
#information .container {
  padding-inline: 30px;
}
#information .info {
  margin-top: 80px;
  margin-bottom: 50px;
  display: flex;
}
#information .info li {
  padding-inline: 10px;
}
#information .info li .info_link {
  display: block;
  background-color: #FFFFFF;
}
#information .info li .info_link:hover {
  opacity: 0.6;
}
#information .info li .info_link img {
  width: 100%;
  vertical-align: bottom;
}
#information .info li .info_link .date {
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  display: block;
  margin: 20px auto 0 30px;
  text-align: left;
}
#information .info li .info_link .text {
  display: block;
  margin-top: 10px;
  padding-bottom: 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

/*---  concept ---*/
#concept {
  margin-top: 200px;
  margin-bottom: 50px;
  background-image: url(../img/concept_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-bottom: 100px;
  text-align: center;
}
#concept .container {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 800px;
  margin-inline: auto;
  background-color: #fff;
  position: relative;
}
@media screen and (max-width: 820px) {
  #concept .container {
    width: calc(100vw - 50px);
  }
}
#concept .container::before {
  content: "";
  border-bottom: 250px solid #fff;
  border-right: 400px solid transparent;
  border-left: 400px solid transparent;
  position: absolute;
  top: -250px;
  left: 0;
  z-index: 0;
}
@media screen and (max-width: 820px) {
  #concept .container::before {
    border-right: calc(50vw - 25px) solid transparent;
    border-left: calc(50vw - 25px) solid transparent;
  }
}
#concept .container .text {
  padding: 10px 20px 50px 20px;
}

/*---  Products ---*/
#products .items_first {
  margin-top: 80px;
}
#products .items {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 820px) {
  #products .items {
    flex-direction: column;
  }
}
#products .items .fadein {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}
@media screen and (max-width: 820px) {
  #products .items .fadein {
    margin-inline: auto;
    margin-bottom: 50px;
  }
}
#products .items .fadein a:hover {
  opacity: 0.6;
}
#products .items .fadein a img {
  width: 100%;
  vertical-align: bottom;
}
#products .items .fadein a .item_name {
  background-color: #FDD09D;
  text-align: right;
  padding: 20px 40px;
  border-radius: 0 0 0 50px;
}
#products .items .fadein a .item_name .name_jp {
  font-family: "Kiwi Maru", serif;
  font-size: 1.25rem;
}
#products .items .fadein a .item_name .name_en {
  font-family: "Birthstone Bounce", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}
#products .right {
  margin-top: 150px;
}
@media screen and (max-width: 820px) {
  #products .right {
    margin-top: 0;
  }
}

/*---  Access ---*/
#access .access_container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-inline: auto;
  padding-inline: 10px;
  max-width: 800px;
}
#access .access_container .shop_info {
  width: 50%;
}
@media screen and (max-width: 820px) {
  #access .access_container .shop_info {
    margin-inline: auto;
  }
}
#access .access_container .shop_info .shop_name {
  text-align: left;
  padding-left: 40px;
}
#access .access_container .shop_info li {
  margin: 20px 0 0 40px;
  text-align: left;
}
#access .access_container .shop_info li .right_side {
  padding-left: 50px;
}
#access .access_container .shop_img {
  width: 50%;
}
@media screen and (max-width: 820px) {
  #access .access_container .shop_img {
    display: none;
  }
}
#access .access_container .shop_img img {
  width: 100%;
  vertical-align: bottom;
}
#access .map {
  margin-top: 80px;
  margin-inline: auto;
  padding-inline: 10px;
  max-width: 800px;
  height: 300px;
}
#access .map iframe {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */
