// ブレイクポイントを指定
$pc: 1080px;
$tab: 820px;
$sp: 440px;


@mixin pc {
    @media screen and (max-width: ($pc)) {
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: ($tab)) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: ($sp)) {
        @content;
    }
}